.chatArea {
  width: 68.6667vw;
  height: 72vh;
  padding-right: 1.3333vw;
  margin-top: 4.6667vw;
  margin-left: 24vw;
  overflow: auto;
  display: inline-block;
  padding-bottom: 1vw;
  overflow-wrap: break-word;
  
}

.chatUser {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .85vw;
  line-height: 1.3333vw;
  height: 100%vw;
  bottom: auto;
  margin-top: 1vw;
  min-width: none;
  max-width: 70%;
  margin-left: auto;
  filter: drop-shadow(.2vw .2667vw .2667vw rgba(0, 0, 0, 0.1));
  color: white;
  
}

.chatUserContent {
  background: #3F4150;
  text-align: left;
  max-width: 100%;
  min-width: none;
  width: fit-content;
  margin-left: auto;
  padding: .6667vw 1vw 1vw 1vw;
  border-radius: 1.6667vw 0px 1.6667vw 1.6667vw;
}

.chatBot{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .85vw;
  line-height: 1.3333vw;
  height: 100%vw;
  bottom: auto;
  margin-top: 1vw;
  min-width: none;
  max-width: 70%;
  margin-right: auto;
  
}

.chatBotContent {
  background-color: white;
  color: white;
  text-align: left;
  max-width: 100%;
  min-width: none;
  width: fit-content;
  margin-right: auto;
  padding: .6667vw 1vw 1vw 1vw;
  background: #FFFFFF;
  border-radius: 0vw 1.6667vw 1.6667vw 1.6667vw;
  background: linear-gradient(269.35deg, #1AA7EC -2.47%, rgba(74, 222, 222, 0.61) 188.25%), #FFFFFF;
  box-shadow: 8px 8px 12px rgba(26, 167, 236, 0.32);
  border-radius: 0vw 3.3333vw 3.3333vw 3.3333vw;
}

.chatArea::-webkit-scrollbar {
  width: .3333vw;
  height: .6667vw;
}

.chatArea::-webkit-scrollbar-thumb {
  background-color: rgba(45, 172, 235, 0.278);
  border-radius: 1.3333vw;
}

.chatArea::-webkit-scrollbar-track {
  background-color: transparent;
}

.emptychat {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
}

.welcome {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  padding-top: 5vw;
  font-size: 1.8667vw;
  line-height: 1.3333vw;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  width: 100%;
}

.emptychat {
}

.invited {
  font-family: 'Inter';
  font-style: normal;
  font-size: 0.8vw;
  background-color: #282935;;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5vw;
  height: 1vw;
  border-radius: 1.3333vw;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-top: 1vw;
}

.invtxt {
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  margin: auto;
  /* padding: 0.5vw; */
}

.paragraph {
  font-size: 1.0667vw;
  font-weight: 0;
}