.body{
  /* border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px; */
  /* background-color: rgba(243, 243, 243, 1); */
  background-color: #2F3142;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  right: 0px;

  /* min-width: 1000vw; */
  box-sizing: border-box;
  position: fixed;
}

.header {
  width: 100%;
  height: 4.6667vw;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-color: #1D1D2A;
  box-shadow: 0px .2667vw .4vw rgba(0, 0, 0, 0.05);
  position: fixed;
  display: inline-flex;
  padding-left: 16.6667vw;
}

.groupTitle {
  display: grid;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 1.2vw;
  padding-top: 1vw;
  background: linear-gradient(90.26deg, #1AA7EC 22.68%, #4ADEDE 123.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.members {
  font-family: 'Inter';
  margin-bottom: 1vw;
  color: #9D9D9D;
  font-size: 0.9vw;
}

.sidebar {
  position: fixed;
  width: 16vw;
  height: 100%;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 0px .7333vw rgba(0, 0, 0, 0.1);
}

.newbtn {
  /* box-sizing: border-box; */
  /* position: absolute; */
  width: 13.3333vw;
  height: 3.2vw;
  margin-top: 1vw;
  align-self: center;
  background: linear-gradient(99.12deg, #1AA7EC -4.09%, #4ADEDE 133.8%);
  border: 1px solid #FFFFFF;
  box-shadow: 0px .2667vw .9333vw .2vw #7DD6F6;
  border-radius: .6667vw;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.3333vw;
  line-height: 1.3333vw;
}

.lowerside {
  position: absolute;
  display: inline-block;
  bottom:  0px;
  width: 100%;
  height: 18vw;
  background: linear-gradient(146.01deg, #1AA7EC -20.53%, rgba(74, 222, 222, 0.61) 113.67%);
}

.choosetxt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0667vw;
  line-height: 1.7333vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 1vw;
  margin-bottom: 2vw;
  letter-spacing: .2vw;
  color: #FFFFFF;
}

.option {
  position: relative;;
  margin: 0 auto;
  margin-top: .6667vw;
  margin-left: .6667vw;
  margin-right: .6667vw;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  padding-left: .6667vw;
}



.chatbox {
  position: fixed;
  bottom: 0px;
  width: 67.6vw;
  height: 4vw;
  margin-left: 25vw;
  margin-bottom: 3.3333vw;
  border: none;

  background: white;
  box-shadow: 0px .2667vw .4vw rgba(0, 0, 0, 0.1);
  border-radius: .2667vw;

}

.inputchat{
  position: flex;
  width: 80%;
  height: 100%;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  background: transparent;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .9333vw;
  line-height: 1.3333vw;
  color: #9A9A9A;
  letter-spacing: .1333vw;
  padding-left: 3.3333vw;
}

.inputchat:focus{
  color: black;
  outline: none;
}

.chatArea {
  width: 68.6667vw;
  height: 72vh;
  padding-right: 1.3333vw;
  /* background-color: green; */
  margin-top: 4.6667vw;
  margin-left: 24vw;
  overflow: auto;
  display: inline-block;
}

.chatUser {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .85vw;
  line-height: 1.3333vw;
  height: 100%vw;
  bottom: auto;
  /* background-color: red; */
  margin-top: 1vw;
  min-width: none;
  max-width: 70%;
  margin-left: auto;
  filter: drop-shadow(.2vw .2667vw .2667vw rgba(0, 0, 0, 0.1));

  /* display: inline-block; */
}

.chatUserContent {
  background-color: white;
  text-align: left;
  max-width: 100%;
  min-width: none;
  width: fit-content;
  margin-left: auto;
  padding: .6667vw 1vw 1vw 1vw;

  background: #FFFFFF;
  border-radius: 1.6667vw 0px 1.6667vw 1.6667vw;
}

/* Set the width and height of the scroll bar */
.chatArea::-webkit-scrollbar {
  width: .3333vw;
  height: .6667vw;
}

/* Set the color of the scroll bar */
.chatArea::-webkit-scrollbar-thumb {
  background-color: rgba(21, 150, 189, 0.586);
  border-radius: 1.3333vw;
  color: #1AA7EC;
}

/* Set the color of the track (the area behind the thumb) */
.chatArea::-webkit-scrollbar-track {
  background-color: transparent;
}

.sendbtn {
  border: none;
  background-color: transparent;
  color: transparent;
}

.iconContainer {
  margin-left: 8.3333vw;
  margin-right: 1.3333vw;
  margin-top: auto;
  margin-bottom: auto;
}

.loadingPage {
  background-color: #2F3142;
  margin: 0px;
  top: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  right: 0px;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  animation: fade-in-out 2s infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.textloading {
  color: rgba(255, 255, 255, 0.393);
}
